[Desktop Entry]
Name=Capter
Comment=Cross-Platform Screen Capture and Annotation Tool
Exec=capter
Icon=capter
Terminal=false
Type=Application
Categories=Utility
